@model ProductDetailsViewModel
<div class="modal-wrap row">
    <div class="col-lg-6">
        <div class="modal-img">
            <div class="swiper-container modal-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="single-img">
                            <img class="img-full" src="@UploadDirectory.Products.GetUrl(Model.ImageNameInFileSystem)" alt="Product Image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 pt-5 pt-lg-0">
        <div class="single-product-content">
            <h2 class="title" id="product-details-modal-title">@Model?.Name</h2>
            <div class="price-box">
                <span class="new-price">$</span>
                <span class="new-price" id="product-details-modal-price">@Model?.Price</span>
            </div>
            <div class="rating-box-wrap">
                <div class="rating-box">
                    <ul id="product-details-modal-rating-container">
                        @for (int i = 0; i < Model?.Rating; i++)
                        {
                            <li><i class="fa fa-star"></i></li>
                        }
                    </ul>
                </div>
                <div class="review-status">
                    <a href="#">( 1 Review )</a>
                </div>
            </div>
            <div class="selector-wrap color-option">
                <span class="selector-title border-bottom-0">Color</span>
                <select id="product-details-modal-colors" class="nice-select wide border-bottom-0 rounded-0">
                    @foreach (var color in Model?.Colors)
                    {
                        <option value="@color.Id">@color.Name</option>
                    }
                </select>
            </div>
            <div class="selector-wrap size-option">
                <span class="selector-title">Size</span>
                <select id="product-details-modal-sizes" class="nice-select wide rounded-0">
                    @foreach (var size in Model?.Sizes)
                    {
                        <option value="@size.Id">@size.Name</option>
                    }
                </select>
            </div>
            <p class="short-desc">
                Lorem ipsum dolor sit amet, consectetur adipisic elit, sed
                do eiusmod tempo incid ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostru exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate
            </p>
            <ul class="quantity-with-btn">
                <li class="quantity">
                    <div class="cart-plus-minus">
                        <input class="cart-plus-minus-box"
                               value="1"
                               type="text" />
                    </div>
                </li>
                <li class="add-to-cart">
                    <a class="btn btn-custom-size lg-size btn-pronia-primary"
                       href="cart.html">Add to cart</a>
                </li>
                <li class="wishlist-btn-wrap">
                    <a class="custom-circle-btn" href="wishlist.html">
                        <i class="pe-7s-like"></i>
                    </a>
                </li>
                <li class="compare-btn-wrap">
                    <a class="custom-circle-btn" href="compare.html">
                        <i class="pe-7s-refresh-2"></i>
                    </a>
                </li>
            </ul>
            <ul class="service-item-wrap pb-0">
                <li class="service-item">
                    <div class="service-img">
                        <img src="~/client/assets/images/shipping/icon/car.png"
                             alt="Shipping Icon" />
                    </div>
                    <div class="service-content">
                        <span class="title">
                            Free <br />
                            Shipping
                        </span>
                    </div>
                </li>
                <li class="service-item">
                    <div class="service-img">
                        <img src="~/client/assets/images/shipping/icon/card.png"
                             alt="Shipping Icon" />
                    </div>
                    <div class="service-content">
                        <span class="title">
                            Safe <br />
                            Payment
                        </span>
                    </div>
                </li>
                <li class="service-item">
                    <div class="service-img">
                        <img src="~/client/assets/images/shipping/icon/service.png"
                             alt="Shipping Icon" />
                    </div>
                    <div class="service-content">
                        <span class="title">
                            Safe <br />
                            Payment
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>