@model List<Product>
<!-- Begin Product Area -->
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="section-title-wrap">
            <h2 class="section-title mb-0">Our Products</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row product-item-wrap">
                    @foreach (var product in Model)
                    {
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="product-img">
                                    <a asp-controller="Product" asp-action="SingleProduct" asp-route-id="@product.Id">
                                        <img class="primary-img" src="@UploadDirectory.Products.GetUrl(product.ImageNameInFileSystem)" alt="Product Images" />
                                        @*<img class="secondary-img" src="~/client/assets/images/website-images//1-2-270x300.jpg" alt="Product Images" />*@
                                    </a>
                                    <div class="product-add-action">
                                        <ul>
                                            <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal" onclick="event.preventDefault(); ShowDetails(@product.Id);">
                                                <a href="#" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                    <i class="pe-7s-look"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-controller="basket" asp-action="AddProduct" asp-route-productId="@product.Id" >
                                                    <i class="pe-7s-cart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <a asp-controller="Product" asp-action="SingleProduct" asp-route-id="@product.Id" class="product-name">@product.Name</a>
                                    <div class="price-box pb-1">
                                        <span class="new-price">$@product.Price</span>
                                    </div>
                                    <div class="rating-box">
                                        <ul>
                                            @for (int i = 0; i < product.Rating; i++)
                                            {
                                                <li><i class="fa fa-star"></i></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

